<!DOCTYPE html>
<html>
<head>
  <title>Draftboard</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/start/jquery-ui.css' %>
  
  <%= javascript_include_tag "application" %>  
  <%= yield :javascript_includes %>  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
